@font-face {
  font-family: 'Abel';
  src: url("../Abel.ttf");
}
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #ecf0f1;
  font-family: Abel,niveau,arial,sans-serif;
}

header {
  height: 12%;
  padding: 2px 20px;
  box-sizing: border-box;
}

header img {
  height: 100%;
}

#banner {
  width: 97%;
  height: 65%;
  margin: auto;
  margin-top: 2%;
  background: #292B3A;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#pic-list {
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.banner-item {
  width: 32.7%;
  height: 100%;
  border: 10px solid white;
  box-sizing: border-box;
  background: url("../image/banner/1.jpg");
  background-size: 100% 100%;
}

.banner-item:nth-child(2) {
  background: url("../image/banner/0.jpg");
  background-size: 100% 100%;
}

.banner-item:nth-child(3) {
  background: url("../image/banner/2.jpg");
  background-size: 100% 100%;
}

#content-body {
  height: auto;
  padding: 15px 15px;
  box-sizing: border-box;
}

.caption {
  height: 5%;
  text-align: center;
}

.caption span {
  font-size: 30px;
  color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#profile-info {
  width: 90%;
  height: 40%;
  margin: auto;
  padding: 15px;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  background-color: white;
}

#profile-pict {
  width: 25%;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
}

#profile-pict img {
  height: 100%;
}

#detail-acc {
  width: 70%;
  height: 100%;
}

.name-acc, .title-acc {
  height: 25%;
  font-size: 28px;
}

.name-acc {
  font-size: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.name-acc h3 {
  margin: 0;
  transform: translateY(-20%);
}

.title-acc {
  height: 30%;
}

.detail-text-acc {
  height: 45%;
  font-size: 22px;
  flex-grow: 5;
}

.detail-item span, .detail-item h3, .detail-item span, .detail-item h3 {
  position: relative;
  top: 50%;
}

.name-acc button {
  height: 50%;
  position: relative;
  top: 50%;
  background: #3B5997;
  color: white;
  font-family: Abel;
  color: white;
  width: 150px;
  border: 0;
  cursor: pointer;
}

.name-acc button:hover {
  opacity: 0.9;
}

#product-list {
  height: auto;
  width: 95%;
  margin: auto;
  margin-top: 2%;
}

#tab-head-holder {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.tab-head-item {
  width: 10%;
  height: 100%;
  color: white;
  margin-right: 5px;
  background: #292B3A;
  cursor: pointer;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
}

.tab-head-item.active {
  opacity: 0.9;
  background: white;
  color: #292B3A;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
}

.tab-head-item:hover {
  opacity: 0.9;
}

.tab-head-item article {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#tab-item-holder {
  height: 10%;
  background-color: white;
  min-height: 350px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px 15px 15px 15px;
}

.product-item {
  position: relative;
  width: 24%;
  height: 350px;
  background: #ecf0f1;
  margin-bottom: 17px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.image-item {
  height: 70%;
  background: white;
}

.image-item img {
  width: 100%;
  height: 100%;
}

.item-detail-holder {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 10px;
}

.item-detail {
  height: 33.3333%;
}

.item-detail > button {
  width: 50%;
  height: 80%;
  border: none;
  background: #FF3C94;
  color: white;
  cursor: pointer;
}

.item-detail.not-available > button {
  background: #292B3A;
  cursor: default;
  opacity: 0.7;
}

.item-detail.available > button:hover {
  opacity: 0.9;
}

.item-detail > h4, .item-detail > article, .item-detail > button, .promo-info > article {
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.promo-info {
  width: 40%;
  height: 10%;
  background: #e74c3c;
  position: absolute;
  left: 0;
  color: white;
  top: 0;
  text-align: center;
}
