header {
  text-align: center;
  height: 10%;
}

.banner-item {
  display: none;
}

.banner-item:nth-child(2) {
  width: 100%;
  display: block;
}

#banner {
  height: 50%;
  box-sizing: border-box;
}

#pic-list {
  height: 80%;
}

.caption {
  height: 20%;
}

.caption span {
  top: 20%;
  font-size: 20px;
}

#profile-info {
  flex-direction: column;
  height: 70%;
}

#profile-info #profile-pict {
  height: 40%;
  padding-left: 0px;
}

#profile-info #detail-acc {
  width: 100%;
  height: 60%;
}

.name-acc h3 {
  order: 2;
  height: 60%;
  font-size: 25px;
  top: 25%;
}

.name-acc button {
  order: 1;
  height: 40%;
  top: 0;
  transform: none;
}

.name-acc {
  flex-direction: column;
}

.name-acc, .title-acc {
  font-size: 22px;
}

.detail-text-acc {
  font-size: 18px;
}

.name-acc {
  height: 30%;
}

.title-acc {
  height: 20%;
}

.detail-text-acc {
  height: 50%;
}

#tab-head-holder {
  justify-content: space-around;
}

.tab-head-item {
  width: 30%;
}

.product-item {
  width: 48.5%;
  margin-right: .5%;
  height: 300px;
}

#tab-item-holder {
  padding: 30px 5px 50px 5px;
  min-height: 300px;
}

.item-detail > button {
  width: 70%;
}

.promo-info {
  width: 55%;
}
