@font-face{
	font-family: 'Abel';
	src:url('../Abel.ttf');
}

@import 'func';

html, body {
	margin: 0;
	@include setSize(100%,100%);
	background: #ecf0f1;
	font-family: Abel,niveau,arial,sans-serif;
}

header{
	height: 12%;
	padding: 2px 20px;
	box-sizing: border-box;
}

header img{
	height: 100%;
}

#banner {
	@include setSize(97%,65%);
	margin: auto;
	margin-top: 2%;
	background: #292B3A;
	padding: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#pic-list{
	height: 90%;
	@include init_flex(row,space-around,nowrap);
}

.banner-item{
	@include setSize(32.7%,100%);
	border: 10px solid white;
	box-sizing: border-box;
	@include setBg('../image/banner/1.jpg');
}

.banner-item:nth-child(2){
	@include setBg('../image/banner/0.jpg');
}

.banner-item:nth-child(3){
	@include setBg('../image/banner/2.jpg');
}


#content-body{
	height: auto;
	padding: 15px 15px;
	box-sizing: border-box;
}

.caption{
	height: 5%;
	text-align: center;
}

.caption{
	span{
		font-size: 30px;
		color: white;
		@include centerVertical();
	}
}

#profile-info{
	@include setSize(90%,40%);
	margin: auto;
	padding: 15px;
	margin-top: 2%;
	@include init_flex(row,space-around,nowrap);
	background-color: white;
}

#profile-pict{
	@include setSize(25%,100%);
	padding: 15px;
	box-sizing: border-box;
}

#profile-pict{
	img{
		height: 100%;
	}
}

#detail-acc{
	@include setSize(70%,100%);
}

.name-acc,.title-acc{
	height: 25%;
	font-size: 28px;
}

.name-acc{
	font-size: 35px;
	@include init_flex(row,space-between,nowrap);
}

.name-acc{
	h3{
		margin: 0;
		transform: translateY(-20%);
	}
}

.title-acc{
	height: 30%;
}

.detail-text-acc{
	height: 45%;
	font-size: 22px;
	flex-grow:5;
}

.detail-item,.detail-item{
	span,h3{
		position: relative;
		top: 50%;
	}
}

.name-acc{
	button{
		height: 50%;
		position: relative;
		top: 50%;
		background: #3B5997;
		color: white;
		font-family: Abel;
		color: white;
		width: 150px;
		border:0;
		cursor: pointer;
	}
}

.name-acc{
	button:hover{
		opacity: 0.9;
	}
}

#product-list{
	height: auto;
	width: 95%;
	margin: auto;
	margin-top: 2%;
}

#tab-head-holder{
	height: 40px;
	@include init_flex(row,flex-start,nowrap);
}

.tab-head-item{
	@include setSize(10%,100%);
	color: white;
	margin-right: 5px;
	background: #292B3A;
	cursor: pointer;
	text-align: center;
	border-radius: 5px 5px 0px 0px;
}

.tab-head-item.active{
	opacity: 0.9;
	background: white;
	color: #292B3A;
	border-width:1px 1px 0px 1px;
	border-style: solid;
	border-color: rgba(0,0,0,0.3);
}

.tab-head-item:hover{
	opacity: 0.9;
}

.tab-head-item{
	article{
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
}

#tab-item-holder{
	height: 10%;
	background-color: white;
	min-height: 350px;
	margin-bottom: 5px;
	@include init_flex(row,space-around,wrap);
	padding: 50px 15px 15px 15px;
}

.product-item{
	position: relative;
	@include setSize(24%,350px);
	background: #ecf0f1;
	margin-bottom: 17px;
	border:1px solid rgba(0,0,0,0.1);
}


.image-item{
	height: 70%;
	background: white;
}

.image-item{
	img{
		width: 100%;
		height: 100%;
	}
}

.item-detail-holder{
	height: 30%;
	@include init_flex(column,space-around,wrap);
	padding-left: 10px;
}

.item-detail{
	height: 33.3333%;
}

.item-detail>button{
	@include setSize(50%,80%);
	border:none;
	background: $buyButtonColor;
	color: white;
	cursor: pointer;
}

.item-detail.not-available>button{
	background: $OutOfStockColor;
	cursor: default;
	opacity: 0.7;
}

.item-detail.available>button:hover{
	opacity: 0.9;
}

.item-detail>h4,.item-detail>article,.item-detail>button,.promo-info>article{
	margin: 0;
	position: relative;
	top: 50%;
	transform: translateY(-50%);	
}

.promo-info{
	@include setSize(40%,10%);
	background: #e74c3c;
	position: absolute;
	left: 0;
	color: white;
	top: 0;
	text-align: center;
}