$buyButtonColor:#FF3C94;
$OutOfStockColor:#292B3A;

@mixin centerVertical(){
  position: relative;
	top: 50%;
  transform: translateY(-50%);
}

@mixin setBg($url){
  background:url($url);
  background-size:100% 100%;
}

@mixin setSize($width,$height){
  width:$width;
  height:$height;
}

@mixin init_flex($direc,$justify,$wrap){
	display: flex;
	flex-direction: $direc;
	justify-content:$justify;
	flex-wrap: $wrap;
}